<strong>Edit</strong>

<%= form_with model: @availability_hour, url: sellers_dashboard_availability_hour_path(@availability_hour) do |f| %>
  <div>
    <%= f.label :day %> <br>
    <%= f.select :day, options_for_select(AvailabilityHour.days.map {|key, value| [key.titleize, AvailabilityHour.days.key(value)]}, @availability_hour.day) %>
  </div>

  <br>
  <div>
    <%= f.label :start_time %> <br>
    <%= f.time_field :start_time, value: "#{@availability_hour.start_time}"  %>
  </div>

  <br>
  <div>
    <%= f.label :end_time %> <br>
    <%= f.time_field :end_time, value: "#{@availability_hour.end_time}"  %>
  </div>
  
  <br>
  <div>
  <%= f.submit 'Update' %>
  </div>

<% end %>