<p id="notice"><%= notice %></p>

<h1>Services Offered</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seller_skills.each do |seller_skill| %>
      <tr>
        <td><%= link_to 'Show', seller_skill %></td>
        <td><%= link_to 'Edit', edit_seller_skill_path(seller_skill) %></td>
        <td><%= link_to 'Destroy', seller_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seller Skill', new_seller_skill_path %>
